<template name="coaching">
	<div id="coaching">
		<div id="hello">
			Please do not share this on the Foundation facebook page. - You are seeing this because you or someone you know, knows me and has chosen to share this with you.
		</div>
		<div id="intro">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<h1>Secret<br/>Mentorship</h1>
						<h5 class="text-muted"><em>All good things come from great questions.</em></h5>
					</div>
					<div class="col-lg-10 col-md-10">
						<nav class="navbar" role="navigation">

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div id="nav">
								<h3>
									<ul class="nav navbar-nav">
										<li><a href="#why">You're an Entrepreneur</a></li>
										<li><a href="#who">Hi, I'm Ian.</a></li>
										<li><a href="#what">1:1 Mentoring</a></li>
										<li><a href="#how">Set Up a Call</a></li>
									</ul>
								</h3>
							</div><!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div id="why">
			<div class="container">
				<h1 id="whytarget">You're an <strong>Entrepreneur</strong>. You're not satisfied with the status quo.<br/><br/></h1>
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<p>
							Your goal is to find, build and launch the business that will finally set you free. Perfect.
						</p>
						<p>
							<span class="fa fa-quote-left fa-2x pull-left text-muted"></span> 
							Let’s start by considering yourself 
							and how you go about making decisions. 
						</p>
						<p>
							Naturally, you want to feel good about yourself 
							and the decisions you make – in business or 
							just in every day life. 
						</p>
						<p>
							You want to look smart and feel like you’ve done 
							the best you can. But sometimes you’re just not sure 
							what the right decision is. So your first instinct is 
							to take less action because you’re afraid to take 
							the wrong action, and you don’t want to look dumb.
						</p>
						<p>
							What you look for in those situations is a trusted friend. 
						</p>
					</div>
					<div class="col-lg-4 col-md-4">
						<p>
							A confidant. 
						</p>
						<p>
							Someone you can feel comfortable asking advice from 
							because you know he or she has your best interests 
							at heart and will give you advice that will benefit you, not them.
							<span class="fa fa-quote-right text-muted"></span>
						</p>
						<p class="text-muted">
							- ultimate enterpreneur Jay Abraham
						</p>
						<p>
							You know why you want to start your own business…
						</p>
						<p>
							Time to pursue your passions. 
							Financial freedom.
							The power to chart your own course.
						</p>
						<p>
							And if you’re reading this I bet you already know
							a successful business starts not with just a 
							great idea or product. Rather, it starts with the desire to 
							provide a solution to another’s problem.
						</p>
					</div>
					<div class="col-lg-4 col-md-4 text-info text-shadow">
						<h3 class="visible-sm">&nbsp;</h3>
						<h3 class="visible-sm">&nbsp;</h3>
						<h3>And guess what?</h3>
						<h3>You <strong>deserve</strong> to have the business of your dreams.</h3>
						<h3>But doing it all yourself is <strong>hard</strong> and <em>slow</em>.</h3>
					</div>
				</div>
			</div>
		</div>
		<div id="who">
			<div class="container">
				<h1 id="whotarget" class="text-primary">My name is Ian Serlin.<br/>
					<small>I'm a developer. I'm a Foundation graduate. I'm running 3 businesses.</small><br/>
				</h1>
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<h3>
							I'm just like you, except I write code too.
						</h3>
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<p>					
									Circa this time last year I was pre-selling my first clients for my new business, FlavorPlease.com. It was exhilarating… you see, I joined the Foundation a month late and I didn’t know anyone so I would just read, execute, read, execute and even though it wasn’t “easy” I was loving the process and loving getting to know my customers.
								</p>
								<p>	
									At the same time I was also running my lucrative software consulting business in Silicon Valley. It’s a cash cow, but it’s also a time sink.
								</p>
								<p>	
									Like you, I was attracted to building a SaaS business for the recurring revenue that would be generated for me even when I wasn’t trading time.
								</p>
								<p>	
									Fast-forward one year, I’ve been traveling all over the US with my girlfriend. Made a ton of new entrepreneur friends. Launched FlavorPlease. Continue to learn more everyday as we grow it. Am about to launch a second SaaS business.
								</p>
								<p>
									The concepts work. There is a smart, risk-managed way of building a brand new business. More interestingly, you can upgrade your internal thought processes to have wide reaching positive impacts on your entire life.
								</p>
							</div>
							<div class="col-lg-6 col-md-6">
								<p>
									But what I didn't realize at the time is that your speed of execution and problem solving is directly proportional to the number and quality of other people you collaborate with.
								</p>
								<p>
									Makes sense right? A smart team can beat a smart individual any day. But more present for me, a smart team (from mentors to virtual assisstants) can cut your stress in half and double your speed of progress.
								</p>
								<p>
									Why? Because you don't have to <strong>do</strong> or <strong>solve</strong> <em>everything</em> <span class="underline">by yourself</span>.
								</p>
								<p>
									You've got mentors, you've got team leaders, you've got other Foundation students to work with - and of course, if you email/Facebook me, we can be friends! In fact, <a href="http://facebook.com/ianserlin">go add me now</a>.
								</p>
								<p>
									Imagine if you actually had a business mentor who's just done what you want to do, and is willing to work with you every step of the way.
								</p>
								<p>
									That's what I'm about to offer, but, <strong>hey, get to know me first:</strong>
									<ul>
										<li><a href="http://smokinghotcoffee.com/events/interview-ian-serlin-from-flavorplease">Interview on Smoking Hot Coffee about Idea Extraction</a></li>
										<li><a href="http://minimumviablepodcast.com/episode-2-idea-validation-preselling-part-2/">Interview on Minimum Viable Podcast about Pre-Selling</a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<blockquote>
							<p>
								The thing I admire most about Ian is his passion and determination. Seeing him battle and pivot his way to finding his market and developing a product they needed is inspiring. Now I'm pumped that he gets to share what he's learned through that process... that's where the gold is for other entrepreneurs.
							</p>
							<small>Josh Isaak, Founder of <a href="http://getmysky.com">MySky</a> and Foundation Coach</small>
						</blockquote>
						<blockquote>
							<p>
								Ian is an all around badass entrepreneur! He never ceases to amaze me with the wildly different and super helpful insight and perspective he brings to business challenges, my own and others. I end each conversation with Ian, blown away by the clarity and motivation he brings in just a few minutes.
							</p>
							<small>Jenn Saunders, Founder of <a href="http://www.http://www.ienergyapp.com">iEnergyApp</a> and Foundation Team Leader</small>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
		<div id="what">
			<div class="container">
				<h1><a class="anchor">I will build your business with you.</span></a><br/>
					<small>This is not a monthly accountability call. I'm not selling any PDFs here.</small><br/>
				</h1>
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<h3>You can build your business faster with my help.</h3>
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<dl>
									<dt>Mindset</dt>
									<dd>You won’t be left to sit with your doubts and fears forever, hoping you’ll read enough to figure it out on your own. We’ll identify issues as they come up and we’ll address them permanently. This is not just your business, it’s your life we’re talking about.</dd>
								</dl>
								<dl>
									<dt>Niche Selection</dt>
									<dd>You don’t have to compete in the same huge, obvious niches everyone else does. With one technique, you can generate an endless list of potential niches.</dd>
								</dl>
								<dl>
									<dt>Idea Extraction</dt>
									<dd>You won’t get to settle for your own idea, the easiest idea or the first idea. I’ll make sure we find the biggest, most painful and lucrative problem in your niche.</dd>
								</dl>
							</div>
							<div class="col-lg-6 col-md-6">
								<dl>
									<dt>Pre-Selling</dt>
									<dd>You won’t make the little mistakes in your pitch like starting with the pricing, talking only about yourself and making a sub-par offer. You also won’t get away with just pre-selling three warm prospects.</dd>
								</dl>
								<dl>
									<dt>Development</dt>
									<dd>I won’t let you screw yourself by starting development too early or getting jerked around by developers. I’ve been writing software professionally for 14 years. I know who to find, I know how to find them and I know to make it worth their while to kick some serious butt for you.</dd>
								</dl>
								<dl>
									<dt>Launch &amp; Automation</dt>
									<dd>Launching is easy. After launch you'll want to scale, and scaling means more sales. Along the way you'll have built up your own SOPs for getting stuff done and setting priorities. To scale, I'll teach you how to pass these strategies on to others so you continue working on your business instead of in it.</dd>
								</dl>
							</div>
						</div>	
					</div>
					<div class="col-lg-4 col-md-4">
						<blockquote>
							<p>
								Each week I look forward to our consulting chats because 
								Ian is a triple threat. He's a developer, a careful listener 
								and is also running his own startup! I have found his logical, 
								sensitive thought process to be an asset.
							</p>
							<small>Amul Patel, Founder of <a href="http://smokinghotcoffee.com">Smoking Hot Coffee</a> and <a href="http://connecttheory.com">Connect Theory</a></small>
						</blockquote>
						<blockquote>
							<p>			
								Ian is one of the smartest guys I know, and having him in my 
								corner has allowed me to consistently blow through challenges 
								and setbacks at breakneck speed. He has been instrumental 
								in the progress I and my business have made this year.
							</p>
							<small>Nick Karrasch, Founder of <a href="http://42insights.com">42insights</a> and <a href="http://trialfacts.com">TrialFacts</a></small>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
		<div id="how">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<h1><a class="anchor">The Details</a></h1>
						<h3>
							<ul>
								<li>The business we build is 100% your own.</li>
								<li>Your revenue is also 100% your own.</li>
								<li>You keep your equity and your profits.</li>
							</ul>
						</h3>
						<p class="lead">
							<br/>
							But, I'm not going to work with just anyone.
							<br/><br/>
							I’m looking for people who understand the value this partnership can bring to their life and business. People who are ready for their success.
							<br/><br/>
							And I’m only going to accept <strong>two clients</strong> at a time.
						</p>
					</div>
					<div class="col-lg-6 col-md-6">
						<p class="lead">
							<br/>
							<strong>How does this work?</strong>
							<br/>
							Each week
							<ul class="lead"> 
								<li>we’ll have at least a one hour call to address any current issues and solidify the plan of action; after that</li> 
								<li>I'll work with you actually taking action on the next most important steps for your business.</li>
							</ul>
						</p>
						<p class="lead">
							And I'm not just going to do it for you. I'll make sure you master all the strategies and the tactics along the way.
							<br/><br/>
							<strong>Choose From Two Levels of Interaction - </strong>
						</p>
						<div class="row">
							<div class="col-lg-6">
								<div class="panel">
									<div class="panel-body text-success">
										<h4>You get <strong>2 hours</strong> per week <em>creating</em> and growing <em>your business</em> for a flat <strong>$1000/month</strong>.</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="panel">
									<div class="panel-body text-primary">
										<h4>You get <strong>up to 8 hours</strong> per week <em>creating</em> and growing <em>your business</em> for a flat <strong>$2500/month</strong>.</h4>
									</div>
								</div>
							</div>
						</div>
						<p class="lead">
							Choose whatever level you feel most comfortable with. Either way, the first step is just to call.
						</p>
					</div>
				</div>
			</div>
			<div class="cta">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<h1>Ready to rock it out? Let's talk...</h1>
						</div>
						<div class="col-lg-4 col-md-4">
							<a href="https://www.scheduleonce.com/IanSerlinMentorship&thm=blue&bt=1" target="_blank" class="btn btn-default btn-lg btn-cta">Choose A Call Time <span class="fa fa-caret-right"></span></a><br/>
							<small class="text-center">Choose a time that's normally calm for you.</small>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<h1 class="text-primary"><a class="anchor">Is there a guarantee?</a></h1>
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<h3>
							Yes. It's a 100% + $100 Guarantee.<br/><br/>
						</h3>
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="alert alert-info">
									<p class="lead">
										<span class="pull-left fa fa-heart fa-4x"></span>
										If, after the first month, you don’t think you’re moving faster,
										feeling better, progressing further and getting closer
										to your dream - I’ll refund the entire $2500 PLUS give
										you $100 extra for your trouble.
									</p>
									<p class="lead">
										<br/>
										Worst case scenario,
										you make $100 and get 32 hours of work on your business done.
									</p>
									<p class="lead">
										<br/>
										Best case scenario, you’re well on your way to living the life
										you’ve always wanted.
									</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<p>
									There is no minimum of months.
								</p>
								<p>
									If we build it in two months, brilliant! If it takes more, I’ll be here for you.
								</p>
								<p>
									So, what would it mean to you to actually get your business
									created, built, launched and profitable? What kind of 
									positive impact would that have on your life?
								</p>
								<p>	
									I’ve already launched one business this year that’s now 80%
									automated and growing and I’m about to launch a second.
								</p>
								<p>	
									Although I operate completely outside the Foundation now, 
									I’ve been trained as a Foundation coach and I understand
									how to supercharge your mindset.
								</p>
								<p>	
									So you might be asking why I’m making this offer.
								</p>
								<p>	
									I’m offering to work with you because I’m putting profits 
									from my businesses right back into my businesses
									to grow them faster.
								</p>
								<p>	
									I’m also making this offer because I believe everyone
									deserves to make the money they deserve doing what
									they like... for you, right now, that’s building a business. 
								</p>
								<p>	
									For me, right now, it’s also helping people to build <em>their own</em> businesses.
								</p>
								<p>	
									I'm looking forward to meeting you! Until then, cheers to YOUR SUCCESS!
								</p>
								<p>
									- Ian
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<blockquote>
							<p>
								Because of Ian's help I'm now doing much better in my business.
								He has helped me to break through blocks and find new ways to monetize my offering. He helped me to re-design the vision for my business so that it has a higher likelihood of succeeding... and Ian has helped me come up with better ways to solve my business problems and <em>get more customers</em>.
								</ul>
							</p>
							<small>Tom Casano, Founder of <a href="http://www.http://www.lifecoachspotter.com">Life Coach Spotter</a> and Foundation Coach</small>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						&copy; Ian Serlin. Questions? ian@ianserlin.com
					</div>
				</div>
			</div>
		</div>
	</div>
</template>